<div class="content-i">
    <div class="content-box">
        {{#if error_msg}}
        <div class="alert alert-warning" role="alert">{{error_msg}}</div>
        {{/if}}
        <div class="element-box" id="createChannel">
            <div class="row">
                <div class="col-sm-12 col-xxl-12">
                    <h5 class="form-header">Create a new data channel</h5>
                    <p>A data channel enables a blockchain to be used as a general purpose append-only database, with the blockchain providing timestamping, notarization and immutability. To create a new data channel, fill in the form below and click on "Create".</p>
                    <p>The data channel name must be unique on a blockchain, between both assets and channels. Data channel names are stored as UTF-8 encoded strings up to 32 bytes in size and are case insensitive.</p>
                    <hr>
                </div>
            </div>

            <form id="formValidate">
                <div class="row">
                    <div class="col-sm-6 col-xxl-6">
                        <legend>
                            <span>Channel name *</span>
                        </legend>

                        <div class="form-group">
                            <input class="form-control" type="text" autocomplete="off"
                                data-error="This field is compulsory" id="trade_channel_name" name="trade_channel_name"
                                required>

                            <div class="help-block form-text text-muted form-control-feedback">
                            </div>

                            <div class=" help-block form-text with-errors form-control-feedback">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xxl-6">
                        <div class="form-group">
                            <legend>
                                <span>Type of channel *</span>
                            </legend>
                            <div class="form-group">
                                <select class="form-control" name="open" id="open" required>
                                    <option value="true">Open: any address can publish items</option>
                                    <option value="false">Closed: write permissions are needed</option>
                                </select>

                                <div class="help-block form-text text-muted form-control-feedback">
                                </div>

                                <div class=" help-block form-text with-errors form-control-feedback">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-desc"></div>


                <legend>
                    <span>Channel details *</span>
                </legend>

                <div class="form-group">
                    <textarea class="form-control" name="details" id="details" cols="15" rows="5" required
                        style="resize:none">This is a data channel for ...</textarea>

                    <div class="help-block form-text text-muted form-control-feedback">
                    </div>

                    <div class=" help-block form-text with-errors form-control-feedback">
                    </div>
                </div>

                <div class="form-buttons-w">
                    <button class="btn btn-primary" id="create_trade_channel"> Create</button>
                </div>
            </form>
        </div>

        <div class="row" id="createTradeChannelStatus" style="display: none;">
            <div class="col-sm-12 col-xxl-12">
                <div class="element-box">
                    <h5 class="form-header">Data channel has been successfully created.</h5>
                    <div class='table-responsive'>
                    <table class="table table-striped" style:"width: 100%;">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Transaction ID</td>
                                <td id="td1"></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="element-box" id="grantWritePermissions" style="display: none;">
            <h5 class="form-header">Grant write permission to a trade channel</h5>
            To grant an entity write permission to a trade channel, fill in the form below and click on
            Grant.
            <br>
            <hr>
            <form id="formValidate" action="/components/data-channels/grant" method="POST">
                <legend>
                    <span>Trade channel writer *</span>
                </legend>

                <div class="form-group">
                    <input class="form-control" type="text" autocomplete="off" data-error="This field is compulsory"
                        id="trade_channel_writer" name="trade_channel_writer" value="{{user.primechain_address}}"
                        required>

                    <div class="help-block form-text text-muted">
                        The primechain address of the entity to be granted write permission to the trade
                        channel.
                    </div>

                    <div class=" help-block form-text with-errors form-control-feedback"></div>
                </div>

                <div class="form-desc"></div>

                <legend>
                    <span>Trade channel name *</span>
                </legend>

                <div class="form-group">
                    <input class="form-control" type="text" autocomplete="off" data-error="This field is compulsory"
                        id="grant_trade_channel_name" name="trade_channel_name" required readonly>
                    <div class="help-block form-text text-muted">
                        The name of the relevant the trade channel.
                    </div>

                    <div class="help-block form-text with-errors form-control-feedback"></div>
                </div>

                <div class="form-buttons-w">
                    <button class="btn btn-primary" type="submit"> Grant</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var timestamp = Math.round((new Date()).getTime() / 1000);
    document.getElementById('trade_channel_name').value = 'trade_channel_' + timestamp; 
</script>