<div class="content-i" style="height: -webkit-fill-available">
    <div class="content-box">
        <div class="element-box">
            <div class="row">
                <div class="col-sm-12 col-xxl-12">
                    <h5 class="form-header">View all channels</h5>
                    <hr>
                    <div class="table-responsive">
                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered"
                            cellspacing="0" width="100%">
                            <thead>
                                <th>Name</th>
                                <th>open</th>
                            </thead>
                            <tbody>
                                {{#if streamArr}}{{#each streamArr}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{open}}</td>
                                </tr>
                                {{/each}}{{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>