<div
  class="menu-w color-scheme-light color-style-transparent menu-position-side menu-side-left menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
  <div class="logo-w" style="background-color:#1b55e2;">
    <a class="logo" href="/account/my-profile">
      <div class="logo-element"></div>
      <div class="logo-label" style="color: #ffff">
        Primechain
      </div>
    </a>
  </div>

  <ul class="main-menu">

    <li class="sub-header"><span>Administration</span></li>

    <li class="has-sub-menu"><a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-grid"></div>
        </div><span>Blockchain</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">Blockchain admin</div>
        <div class="sub-menu-icon"><i class="os-icon os-icon-layers"></i></div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li><a href="/components/blockchain/parameters">Blockchain parameters</a></li>
            <li><a href="/components/blockchain/information">Blockchain information</a></li>
            <li><a href="/components/blockchain/runtime-parameters">Runtime parameters</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="has-sub-menu"><a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-users"></div>
        </div><span>User Management</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">User Management</div>
        <div class="sub-menu-icon"><i class="os-icon os-icon-users"></i></div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li><a href="/components/user-management/list">List all users</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="has-sub-menu"><a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-zap"></div>
        </div><span>Permissions</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">Permissions</div>
        <div class="sub-menu-icon"><i class="os-icon os-icon-shield"></i></div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li><a href="/components/permissions/list">List permissions</a></li>
            <li><a href="/components/permissions/manage">Manage permissions</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="has-sub-menu"><a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-layers"></div>
        </div><span>Data Channels</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">Data Channels</div>
        <div class="sub-menu-icon"><i class="os-icon os-icon-check-square"></i></div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li><a href="/components/data-channels/create">Create a channel</a></li>
            <li><a href="/components/data-channels/list">View all channels</a></li>
            <li><a href="/components/data-channels/grant">Grant permissions</a></li>
            <li><a href="/components/data-channels/revoke">Revoke permissions</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="sub-header"><span>D.A.V.E. Plugins</span></li>
    <li class="has-sub-menu"><a href="#">
        <div class="icon-w">
          <div class="fa fa-graduation-cap"></div>
        </div><span>Academic Records</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">Academic Records</div>
        <div class="sub-menu-icon"><i class="os-icon os-icon-edit"></i></div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li><a href="/plugins/dave/academic/issue">Issue an Academic Record</a></li>
            <li><a href="/plugins/dave/academic/view">View all Academic Records</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="has-sub-menu"><a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-bar-chart-up"></div>
        </div><span>Bank Guarantees</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">Bank Guarantee</div>
        <div class="sub-menu-icon"><i class="os-icon os-icon-edit"></i></div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li><a href="/plugins/dave/bank-guarantee/issue">Issue a bank guarantee</a></li>
            <li><a href="/plugins/dave/bank-guarantee/view">View all bank guarantees</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="has-sub-menu"><a href="#">
        <div class="icon-w">
          <div class="fa fa-line-chart"></div>
        </div><span>Business Licenses</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">Business Licenses</div>
        <div class="sub-menu-icon"><i class="os-icon os-icon-edit"></i></div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li><a href="/plugins/dave/business-licenses/issue">Issue a Business License</a></li>
            <li><a href="/plugins/dave/business-licenses/view">View all Business Licenses</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="sub-header"><span>S.A.M. Plugins</span></li>
    <li class="has-sub-menu"><a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-ui-02"></div>
        </div><span>Loyalty program</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">Loyalty program</div>
        <div class="sub-menu-icon"><i class="os-icon os-icon-edit"></i></div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li><a href="/plugins/sam/loyalty/create">Start a Loyalty Program </a></li>
            <li><a href="/plugins/sam/loyalty/create-more">Issue more units</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="has-sub-menu"><a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-wallet-loaded"></div>
        </div><span>P2P payments</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">P2P payments</div>
        <div class="sub-menu-icon"><i class="os-icon os-icon-edit"></i></div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li><a href="/plugins/sam/p2p/create">Create new token </a></li>
            <li><a href="/plugins/sam/p2p/create-more">Issue more units</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="has-sub-menu"><a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-coins-4"></div>
        </div><span>Stablecoins</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">Stablecoins</div>
        <div class="sub-menu-icon"><i class="os-icon os-icon-edit"></i></div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li><a href="/plugins/sam/stablecoin/create">Create a new Stablecoin </a></li>
            <li><a href="/plugins/sam/stablecoin/create-more">Issue new units</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="sub-header"><span>Components</span></li>

    <li class="has-sub-menu"><a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-edit-32"></div>
        </div><span>E-Signature</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">E-Signature</div>
        <div class="sub-menu-icon"><i class="os-icon os-icon-edit-32"></i></div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li><a href="/components/esignature/create">Create an e-signature</a></li>
            <li><a href="/components/esignature/verify">Verify an e-signature</a></li>
            <li><a href="/components/esignature/create-save">Create & save an e-signature</a></li>
          </ul>
        </div>
      </div>
    </li>


    <li class="has-sub-menu"><a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-pencil-1"></div>
        </div><span>Publish data</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">Publish data</div>
        <div class="sub-menu-icon"><i class="os-icon os-icon-text-input"></i></div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li><a href="/components/data/publish">Publish data to blockchain</a></li>
            <li><a href="/components/data/download">Download data from blockchain</a></li>
            <li><a href="/components/data/publish-encrypt">Encrypt & publish data to blockchain</a></li>
            <li><a href="/components/data/download-decrypt">Decrypt & download data from blockchain</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="has-sub-menu"><a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-file-text"></div>
        </div><span>Publish file</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">Publish file to blockchain</div>
        <div class="sub-menu-icon"><i class="os-icon os-icon-file"></i></div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li><a href="/components/file/publish-encrypt">Encrypt & publish a file to blockchain</a></li>
            <li><a href="/components/file/download-decrypt">Decrypt & download a file from blockchain</a></li>
          </ul>
        </div>
      </div>
    </li>
<!--
    <li class="has-sub-menu"><a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-coins-4"></div>
        </div><span>Assets</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">Smart Asset Management</div>
        <div class="sub-menu-icon"><i class="os-icon os-icon-coins-4"></i></div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li><a href="/components/sam/create">Create an asset</a></li>
            <li><a href="/components/sam/create-more">Issue more units</a></li>
            <li><a href="/components/sam/view">View my assets</a></li>
            <li><a href="/components/sam/transfer">Transfer an asset</a></li>
          </ul>
        </div>
      </div>
    </li>
-->
    <li class="has-sub-menu"><a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-crown"></div>
        </div><span>CRUD Wizard</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">CRUD Wizard</div>
        <div class="sub-menu-icon"><i class="os-icon os-icon-edit"></i></div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li><a href="/components/curd-wizard/create">Create a new record</a></li>
            <li><a href="/components/curd-wizard/list">View / Edit / Delete a record</a></li>
          </ul>
        </div>
      </div>
    </li>
    
  </ul>
</div>