<div
  class="menu-w color-scheme-light color-style-transparent menu-position-side menu-side-left menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
  <div class="logo-w" style="background-color:#1b55e2;">
    <a class="logo" href="/account/my-profile">
      <div class="logo-element"></div>
      <div class="logo-label" style="color: #ffff">
        Primechain
      </div>
    </a>
  </div>

  {{#ifAdmin user role="admin"}}
  {{> admin_menu}}
  {{/ifAdmin}}

  {{#ifEmployee user role="employee"}}
  {{> employee_menu}}
  {{/ifEmployee}}

  {{#ifCustomer user role="customer"}}
  {{> customer_menu}}
  {{/ifCustomer}}
</div>