<div class="menu-mobile menu-activated-on-click color-scheme-dark">
  <div class="mm-logo-buttons-w">
    <a class="mm-logo" href="/account/my-profile"><img src="/web/img/logo.png"><span>Primechain</span></a>
    <div class="mm-buttons">
      <div class="mobile-menu-trigger">
        <div class="os-icon os-icon-hamburger-menu-1"></div>
      </div>
    </div>
  </div>

  <div class="menu-and-user">

    {{#ifAdmin user role="admin"}}
    {{> mobile_admin_menu}}
    {{/ifAdmin}}

    {{#ifEmployee user role="employee"}}
    {{> mobile_employee_menu}}
    {{/ifEmployee}}

    {{#ifCustomer user role="customer"}}
    {{> mobile_customer_menu}}
    {{/ifCustomer}}
  </div>
</div>