<ul class="main-menu">
    <li class="has-sub-menu">
        <a href="#">
            <div class="icon-w">
                <div class="fa fa-question"></div>
            </div>
            <span>Help</span>
        </a>
        <ul class="sub-menu">
            <li><a href="https://www.primechaintech.com/documentation/api/template.php?uiid=2-api-endpoints" target="_blank">API Documentation</a></li>
            <li><a href="https://www.primechaintech.com/demos.php" target="_blank">Primechain Demos</a></li>
            <li><a href="https://github.com/Primechain/Primechain-Documentation" target="_blank">Primechain Documentation</a></li>
            <li><a href="https://www.primechaintech.com/contactus.php" target="_blank">Contact Primechain</a></li>
        </ul>
    </li>
</ul>