<ul class="main-menu">
    <li class="sub-header"><span>Neo banking</span></li>

    <li class="has-sub-menu"><a href="#">
            <div class="icon-w">
                <div class="fa fa-odnoklassniki"></div>
            </div><span>Know Your Customer</span>
        </a>
        <div class="sub-menu-w">
            <div class="sub-menu-header">Know Your Customer</div>
            <div class="sub-menu-icon"><i class="fa fa-odnoklassniki"></i></div>
            <div class="sub-menu-i">
                <ul class="sub-menu">
                    <li><a href="/plugins/dave/indkyc/issue">Create new KYC record</a></li>
                    <li><a href="/plugins/dave/indkyc/view">View KYC records</a></li>
                </ul>
            </div>
        </div>
    </li>

    <li class="has-sub-menu"><a href="#">
            <div class="icon-w">
                <div class="os-icon os-icon-bar-chart-up"></div>
            </div><span>Bank Guarantees</span>
        </a>
        <div class="sub-menu-w">
            <div class="sub-menu-header">Bank Guarantee</div>
            <div class="sub-menu-icon"><i class="os-icon os-icon-bar-chart-up"></i></div>
            <div class="sub-menu-i">
                <ul class="sub-menu">
                    <li><a href="/plugins/dave/bank-guarantee/issue">Issue a bank guarantee</a></li>
                    <li><a href="/plugins/dave/bank-guarantee/view">View all bank guarantees</a></li>
                </ul>
            </div>
        </div>
    </li>

    <li class="has-sub-menu"><a href="#">
            <div class="icon-w">
                <div class="os-icon os-icon-wallet-loaded"></div>
            </div><span>P2P payments</span>
        </a>
        <div class="sub-menu-w">
            <div class="sub-menu-header">P2P payments</div>
            <div class="sub-menu-icon"><i class="os-icon os-icon-wallet-loaded"></i></div>
            <div class="sub-menu-i">
                <ul class="sub-menu">
                    <li><a href="/plugins/sam/p2p/create">Create new token </a></li>
                    <li><a href="/plugins/sam/p2p/create-more">Issue more units</a></li>
                </ul>
            </div>
        </div>
    </li>

    <li class="has-sub-menu"><a href="#">
            <div class="icon-w">
                <div class="os-icon os-icon-pie-chart-1"></div>
            </div><span>Invoice discounting</span>
        </a>
        <div class="sub-menu-w">
            <div class="sub-menu-header">Invoice discounting</div>
            <div class="sub-menu-icon"><i class="os-icon os-icon-pie-chart-1"></i></div>
            <div class="sub-menu-i">
                <ul class="sub-menu">
                    <li><a href="/plugins/sam/invoice/create">Create new invoice </a></li>
                </ul>
            </div>
        </div>
    </li>

    <li class="has-sub-menu"><a href="#">
            <div class="icon-w">
                <div class="os-icon os-icon-ui-02"></div>
            </div><span>Loyalty program</span>
        </a>
        <div class="sub-menu-w">
            <div class="sub-menu-header">Loyalty program</div>
            <div class="sub-menu-icon"><i class="os-icon os-icon-ui-02"></i></div>
            <div class="sub-menu-i">
                <ul class="sub-menu">
                    <li><a href="/plugins/sam/loyalty/create">Start a Loyalty Program </a></li>
                    <li><a href="/plugins/sam/loyalty/create-more">Issue more units</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>