<div class="content-i">
    <div class="content-box">
        <div class="element-box">
            <h5 class="form-header">
                Activity Logs
            </h5>
            <div class="form-desc">
                These are the list of login details.
            </div>
            <div class="table-responsive">
                <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                    <thead>
                        <tr>
                            <th>Ip Address</th>
                            <th>Browser</th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#if activityLogArr}}{{#each activityLogArr}}
                        <tr>
                            <td>{{ip}}</td>
                            <td>{{browser}}</td>
                            <td>{{timestamp}}</td>
                        </tr>
                        {{/each}}{{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<<<<<<< HEAD

=======
>>>>>>> master
</div>