<div class="content-i">
    <div class="content-box">
        {{#if success_msg}}
        <div class="alert alert-info" role="alert">{{success_msg}}</div>
        {{/if}} {{#if error_msg}}
        <div class="alert alert-warning" role="alert">{{error_msg}}</div>
        {{/if}} {{#if error}}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {{/if}}
        <div class="row">
            <div class="col-sm-12 col-xxl-12">
                <div class="element-box">
                    <h5 class="form-header">
                        Change password
                    </h5>
                    <hr>
                    <form id="formValidate" novalidate="true"  action="/account/change-password" method="post">
                        <div class='form-group'>
                            <legend>
                                <span> 1. Your current password * </span>
                            </legend>
                            <input type="password" data-error="This field is compulsory" name="old_password" class="form-control" required>
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                            <div class="help-block form-text text-muted form-control-feedback">
                                <p>Please enter your current password.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <legend>
                                <span> 2. Your new password *</span>
                            </legend>
                            <input class="form-control" data-minlength="6" placeholder="New Password" required="required"
                            type="password" id="password" name="password">
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                            <div class="help-block form-text text-muted form-control-feedback">
                                <p>Strong passwords = Happy computers.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <legend>
                                <span> 3. Confirm your new password *</span>
                            </legend>
                           <input class="form-control" data-match="#password" data-match-error="Passwords don't match"
                            placeholder="New Password" required="required" type="password" name="confirm_password">
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                            <div class="help-block form-text text-muted form-control-feedback">
                                <p>Re-enter your new password</p>
                            </div>
                        </div>

                        <div class="form-buttons-w">
                            <button type="submit" class="btn btn-primary">Change password </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>