<!DOCTYPE html>
<html>

<head>
    <title>Primechain</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="Primechain: The 6 minute blockchain" name="keywords">
    <meta content="Neo <> Primechain Technologies Pvt ltd" name="author">
    <meta content="Primechain: The 6 minute blockchain" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/web/favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="manifest" href="/web/manifest.json">
    <link href="//fast.fonts.net/cssapi/487b73f1-c2d1-43db-8526-db577e4c822b.css" rel="stylesheet" type="text/css">
    <link href="/web/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="/web/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="/web/bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="/web/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/web/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="/web/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="/web/bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="/web/icon_fonts_assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/web/css/main.css?version=4.4.1" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.css" />

    <style>
        .hideContent {
            overflow: hidden;
            line-height: 1.5em;
            height: 1.5em;
        }

        .showContent {
            word-wrap: break-word;
            line-height: 1.5em;
            height: auto;
        }

        .carousel-inner {
            /*background-color: #C1E0FF;*/
        }

        .carousel-indicators {
            font-size: 2em;
            bottom: -1%;
            text-align: left;
            text-shadow: none;
        }

        /***
 * Bootstrap relies on CSS transitions for animation, which makes it
 * easy to override.  Just add the vertical class to your carousel:
 * <div class='carousel vertical'>...</div>
 ***/

        .carousel.vertical .carousel-inner {
            height: 100%;
        }

        .carousel.vertical .carousel-item {
            -webkit-transition: 1.5s ease-in-out top;
            -moz-transition: 1.5s ease-in-out top;
            -ms-transition: 1.5s ease-in-out top;
            -o-transition: 1.5s ease-in-out top;
            left: 0;
        }

        .carousel.vertical .active {
            top: 0;
        }

        .carousel.vertical .active.right {
            top: 100%;
        }

        .carousel.vertical .active.left {
            top: -100%;
        }

        #loadingMessage {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

</head>

{{#if user}}

<body class="menu-position-side menu-side-left full-screen with-content-panel">
    <div class="all-wrapper with-side-panel solid-bg-all">
        <div class="layout-w">
            {{> mobile_menu}}

            {{> main_menu}}

            <div class="content-w">
                {{> top_bar}}

                {{{body}}}
                {{> script_libraries}}
            </div>
        </div>
        <div class="display-type"></div>
    </div>
    {{else}}
    {{{body}}}
    {{> script_libraries}}

    {{!-- <!-- Keep these outside the div id page on the first page -->
    <!-- your users land on, and it will appear on all pages -->
    <!-- Install Prompt for Android -->
    <div id="menu-install-pwa-android" class="menu menu-box-modal round-medium" data-menu-height="340"
        data-menu-width="320" data-menu-effect="menu-over">
        <div class="boxed-text-huge top-25">
            <img class="round-medium center-horizontal" src="app/icons/icon-128x128.png" alt="img" width="90">
            <h4 class="center-text bolder top-20 bottom-10"><span class="color-highlight">EMDA</span> on your Home
                Screen</h4>
            <p>
                Install EMDA Wallet on your home screen, and access it just like a regular app.
            </p>
            <a href="#"
                class="pwa-install button button-xs button-round-medium button-center-large shadow-large bg-highlight bottom-0">Add
                to Home Screen</a><br>
            <a href="#"
                class="pwa-dismiss close-menu center-text color-gray2-light uppercase ultrabold opacity-80 under-heading">Maybe
                later</a>
            <div class="clear"></div>
        </div>
    </div>

    <!-- Install instructions for iOS -->
    <div id="menu-install-pwa-ios" class="menu menu-box-bottom round-medium bottom-20 left-20 right-20"
        data-menu-height="320" data-menu-width="320" data-menu-effect="menu-over">
        <div class="boxed-text-huge top-25">
            <img class="round-medium center-horizontal" src="app/icons/icon-128x128.png" alt="img" width="90">
            <h4 class="center-text bolder top-20 bottom-10">Add <span class="color-highlight">Eazy</span> on your Home
                Screen</h4>
            <p class="bottom-15">
                Install EazyMobile on your home screen, and access it just like a regular app. Open your Safari menu and
                tap "Add to Home Screen".
            </p>
            <div class="clear"></div>
            <a href="#"
                class="pwa-dismiss close-menu center-text color-red2-dark uppercase ultrabold opacity-80 top-25">Maybe
                later</a>
            <i class="fa-ios-arrow fa fa-caret-down font-40"></i>
        </div>
    </div> --}}


    <div aria-hidden="true" class="onboarding-modal modal fade animated" role="dialog" tabindex="-1"
        id="menu-install-pwa-android">
        <div class="modal-dialog modal-centered" role="document">
            <div class="modal-content text-center">
                <div class="onboarding-slide">
                    <div class="onboarding-media">
                        <img alt="" src="/web/img/download.png" width="128px" height="128px">
                    </div>
                    <div class="onboarding-content with-gradient">
                        <h4 class="onboarding-title">Primechain
                            <div class="onboarding-text">Install Primechain on your home screen, and access it just like
                                a regular app.
                            </div>
                    </div>
                </div>

                <button class="pwa-install btn btn-primary btn-rounded" type="button"
                    style="margin-right: 8%; margin-left: 8%;" id="buttonInstall">Add
                    to Home Screen</button><br>
                <a href="#" class="pwa-dismiss" style="margin-bottom: 10px;">Maybe
                    later</a>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $("#customer_image").change(function (e) {
            e.preventDefault();
            readCustomerImage(this);
        });

        function readCustomerImage(input) {
            $("#customerImagePreview").val('');

            if (input.files && input.files[0]) {
                if (input.files[0]['type'] === 'image/jpeg' || input.files[0]['type'] === 'image/png' || input.files[0]['type'] === 'image/jpg' || input.files[0]['type'] === 'image/gif') {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#customerImagePreview').show()
                        $('#customerImagePreview').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
                else {
                    $("#customerImagePreview").val('');
                    $("#customerImagePreview").attr('src', '');
                    $("#customerImagePreview").hide();
                    alert("Upload an image, Supported types are jpg,png, gif.");
                }
            }
        }
    </script>
</body>
{{/if}}

</html>