<div class="content-i">
    <div class="content-box">
        <div class="element-box">
            <h5 class="form-header">View and download</h5>
            <hr>
            <div class="table-responsive">
                <table id="dataTable1" width="100%" class="table table-striped table-lightfont dataTable">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Transaction id</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if dataArr}} {{#each dataArr}}
                        <tr>
                            <td>{{key}}</td>
                            <td>{{transaction_id}}</td>
                            <td>
                                <form action="/web/dave/file/download" method="POST">
                                    <input type="hidden" name="data" value="{{data}}">
                                    <button class="btn btn-md btn-success" type="submit">Download</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}} {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>