<div class="content-i">
    <div class="content-box" style="padding-bottom: 300px;">
        <div class="element-box">
            <h5 class="form-header">Runtime parameters</h5>
            <hr>
            <br>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if runtime_parameters}} {{#each runtime_parameters}}
                        <tr>
                            <td>{{displayName}}</td>
                            <td>{{value}}</td>
                        </tr>
                        {{/each}}{{/if}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>