<!-- BEGIN Content-->
<div class="content-i">
    <div class="content-box" style="padding-bottom: 200px;">
        {{#if success_msg}}
        <div class="alert alert-info" role="alert">{{success_msg}}</div>
        {{/if}} {{#if error_msg}}
        <div class="alert alert-warning" role="alert">{{error_msg}}</div>
        {{/if}} {{#if error}}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {{/if}}

        <div class="row" id="assetStatus" style="display: none;">
            <div class="col-sm-12 col-xxl-12">
                <div class="element-box">
                    <div id="info"></div>
                    <table class="table table-striped" style="width: 100%">
                        <thead>
                            <th style="width: 45%;">Description</th>
                            <th style="width: 10%;">Actions</th>
                            <th style="width: 45%;">value</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Asset Name</td>
                                <td>
                                    <i id="name" class="fa fa-question"
                                        style="font-size:16px;color:orange; align: center;"></i>
                                </td>
                                <td id="td1"></td>
                            </tr>
                            <tr>
                                <td>Asset Quantity</td>
                                <td>
                                    <i id="quantity" class="fa fa-question" style="font-size:16px;color:orange"></i>
                                </td>
                                <td id="td2"></td>
                            </tr>
                            <tr>
                                <td>Asset Open</td>
                                <td>
                                    <i id="open" class="fa fa-question" style="font-size:16px;color:orange"></i>
                                </td>
                                <td id="td3"></td>
                            </tr>
                            <tr>
                                <td>Asset unit</td>
                                <td>
                                    <i id="unit" class="fa fa-question" style="font-size:16px;color:orange"></i>
                                </td>
                                <td id="td4"></td>
                            </tr>
                            <tr>
                                <td>Asset description</td>
                                <td>
                                    <i id="description" class="fa fa-question" style="font-size:16px;color:orange"></i>
                                </td>
                                <td id="td5"></td>
                            </tr>
                            <tr>
                                <td>Asset Reference ID</td>
                                <td>
                                    <i id="reference" class="fa fa-question" style="font-size:16px;color:orange"></i>
                                </td>
                                <td id="td6"></td>
                            </tr>
                            <tr>
                                <td>Transaction ID</td>
                                <td>
                                    <i id="txid" class="fa fa-question" style="font-size:16px;color:orange"></i>
                                </td>
                                <td id="td7"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div id="assetResult">
                    </div>

                </div>
            </div>
        </div>

        <div class="row" id="asset_form">
            <div class="col-sm-12 col-xxl-12">
                <div class="element-box">
                    <form id="formValidate" class="plugins_sam_form">
                    <input type="hidden" name="asset_unit" id="asset_unit" value="1">
                        <h5 class="form-header">
                            Create a new token
                        </h5>
                        <hr>

                        <legend>
                            <span>Name of the token *</span>
                        </legend>

                        <div class="form-group">
                            <input class="form-control" type="text" autocomplete="off" data-error="This field is compulsory" id="asset_name" name="asset_name" required="required" maxlength="32">
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                        </div>

                        <div class="help-block form-text text-muted form-control-feedback">
                            Enter the name of your token e.g. <code>INR tokens</code>
                        </div>

                        <div class="form-desc"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <legend>
                                    <span>Number of tokens to start the system with *</span>
                                </legend>

                                <div class="form-group">
                                    <input class="form-control" type="number" autocomplete="off" data-error="This field is compulsory" id="asset_quantity" name="asset_quantity" required="required" onkeypress="return event.charCode >= 48" min="1">
                                    <div class="help-block form-text with-errors form-control-feedback"></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <legend>
                                    <span>Type *</span>
                                </legend>

                                <div class="form-group">
                                    <select class="form-control" name="asset_open" id="asset_open">
                                        <option value="true" selected>Open: More tokens can be issued in future</option>
                                        <option value="false">Closed: New tokens cannot be issued in future</option>
                                    </select>
                                    <div class="help-block form-text with-errors form-control-feedback"></div>
                                </div>
                            </div>

                            <!--<div class="col-md-4">
                                <legend>
                                    <span>Min divisible quantity *</span>
                                </legend>

                                <div class="form-group">
                                    <input class="form-control" type="number" autocomplete="off" data-error="This field is compulsory" name="asset_unit" id="asset_unit" required="required" onkeypress="return event.charCode >= 48" min="1">
                                    <div class="help-block form-text with-errors form-control-feedback"></div>
                                </div>
                            </div>-->
                        </div>

                        <div class="form-desc"></div>

                        <legend>
                            <span>Token description*</span>
                        </legend>

                        <div class="form-group">
                            <textarea class="form-control" required="required" data-error="This field is compulsory" cols="80" id="ckeditor1" name="asset_description" rows="10" style="visibility: hidden; display: none;"></textarea>
                        </div>

                        <div class="help-block form-text text-muted form-control-feedback">
                            Enter a brief description of the token.
                        </div>

                        <div class="form-buttons-w">
                            <input class="btn btn-md btn-primary" id="createAsset" value="Create Token">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END Content-->