<div class="content-i">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">List permissions</h6>
            <div class="element-box">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="form-header">List permissions</h5>
                    </div>
                </div>
                <hr>
                <div class="table-responsive">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Permissions</th>
                                <th>Status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#if list_permissions}}{{#each list_permissions}}
                            <tr>
                                <td>
                                    <div class="user-with-avatar"><span>{{type}}</span></div>
                                </td>
                                <td class="nowrap"><span class="status-pill smaller green"></span><span>Active</span>
                                </td>
                                <td class="row-actions">
                                    <div class="buttons-w">
                                        <input id="{{type}}" type="submit" class="btn btn-danger btn-md" value="Revoke"
                                            onclick="revoke(this)">
                                    </div>
                                </td>
                            </tr>
                            {{/each}}{{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>