<body class="auth-wrapper">
    <div class="all-wrapper menu-side with-pattern">
        <div class="auth-box-w">
            <div class="logo-w"><a href="/"><img alt="" src="/web/img/logo-big.png"></a></div>
            <h4 class="auth-header">Login to Primechain</h4>
            {{#if success_msg}}
            {{message}}
            <div class="alert alert-info" style="margin: 0px 15px 10px" role="alert">{{success_msg}}</div>
            {{/if}}
            {{#if error_msg}}
            <div class="alert alert-danger" style="margin: 0px 15px 0px" role="alert">{{error_msg}}</div>
            {{/if}}
            {{#if errors}}{{#each errors}}
            <div class="alert alert-danger" style="margin: 0px 15px 0px" role="alert">{{msg}}</div>
            {{/each}} {{/if}}
            <form id="formValidate" novalidate="true" action="/login" method="POST" onsubmit="login.disabled=true">
                <div class="form-group">
                    <label for="">Email Address</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text os-icon os-icon-mail"></div>
                        </div>
                        <input class="form-control" data-error="Email address is invalid" placeholder="Email address"
                            type="email" name="email" required="required">
                    </div>
                    <div class="help-block form-text with-errors form-control-feedback"></div>
                </div>

                <div class="form-group">
                    <label for="">Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text os-icon os-icon-fingerprint"></div>
                        </div>
                        <input class="form-control" data-error="Password is required" placeholder="Password"
                            type="password" name="password" required="required">
                    </div>
                    <div class="help-block form-text with-errors form-control-feedback"></div>
                </div>

                <div class="buttons-w">
                    <input type="submit" class="btn btn-primary btn-md" value="Log me in" name="login">
                    <div class="form-check-inline" style="float: right;margin-top: 10px;">
                        <label class="form-check-label">
                            <a href="/lost-password">Lost Password?</a>
                        </label>
                    </div>

                    <div class="form-check-inline" style="align: center ;margin-top: 25px;">
                        <label class="form-check-label">
                            <a href="/signup">Don't have an account? Create one.</a>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>